@media screen and (max-width: 1024px) {
  #nav {
    height: 4rem;
    width: 100vw;
  }
  #left-logo {
    margin-left: -3rem;
    font-size: 1.7rem;
  }
  #middle a {
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 1.5rem;
  }
  #middle a:hover {
    border-bottom: 2px solid #ffffff;
  }
  #right-social {
    margin-right: -3rem;
  }
  #social-icon {
    font-size: 1.1rem;
  }

  /* Main-Hero Section */
  main {
    margin-top: 12rem;
  }
  #hero {
    margin-left: 8.2rem;
  }
  #left-hero {
    height: 15.625rem;
  }
  #left-hero h1 {
    font-size: 2.3rem;
    margin-bottom: 0.625rem;
  }
  #left-hero button {
    width: 8rem;
    height: 2.8rem;
  }
  #right-hero img {
    width: 28rem;
    padding-left: 5rem;
  }

  /* Main-Project Section */
  #projects {
    justify-content: space-between;
    margin: 0rem 8.2rem 6.25rem 8.2rem;
  }
  #project {
    font-size: 1.7rem;
    margin-top: -4.5rem;
    margin-bottom: 5rem;
  }
  h2 {
    font-size: 1.7rem;
    margin-bottom: 4rem;
  }

  /* Technologies Section */
  #technologies-skills {
    height: 38rem;
    margin: 0rem 8.2rem 1rem 8.2rem;
  }
  #skills {
    margin: 0 auto;
    max-width: 80%;
  }
  .skill-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  .text {
    width: 96%;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .level {
    font-size: 0.9rem;
  }

  /* Additional skills and tools */
  #additional-skills {
    margin: 0rem 8.2rem 6.25rem 8.2rem;
  }
  ul {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 768px) {
  #left-logo {
    margin-left: -2rem;
    font-size: 1.5rem;
  }
  #middle a {
    font-size: 0.8rem;
    margin: 0px 1.2rem;
  }
  #right-social {
    margin-right: 0.3rem;
  }
  #social-icon {
    font-size: 1rem;
  }

  /* Main-Hero Section */
  main {
    margin-top: 10rem;
  }
  #hero {
    margin-left: 5.5rem;
  }
  #left-hero h1 {
    font-size: 2rem;
    margin-bottom: 0.625rem;
  }
  #left-hero p {
    font-size: 0.9rem;
  }
  #left-hero button {
    width: 7rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }
  #right-hero img {
    width: 21rem;
    margin-right: -2.8rem;
    padding-left: 4rem;
  }

  /* Main-Project Section */
  #projects {
    row-gap: 3rem;
    margin: 0rem 5.5rem 6.25rem 5.5rem;
  }
  #project {
    font-size: 1.5rem;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  #project-one {
    height: 22rem;
    width: 15rem;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #projects img {
    height: 10rem;
  }
  #projects h3 {
    font-size: 1rem;
    margin: 0.25rem 0.25rem;
  }
  #projects p {
    font-size: 0.6rem;
    margin: 0.25rem 0.25rem;
  }
  span {
    font-size: 0.5rem;
    margin: 0.25rem 0.15rem 0.25rem 0rem;
  }
  .technologies-used {
    padding: 7px 0px;
    margin: 0.25rem;
  }

  /* Technologies Section */
  #technologies-skills {
    margin: 0rem 5.5rem 1rem 5.5rem;
  }
  #skills {
    max-width: 85%;
  }
  .text {
    font-size: 1rem;
  }
  .level {
    font-size: 0.8rem;
  }

  /* Additional skills and tools */
  h3 {
    font-size: 1.13rem;
  }
  #additional-skills {
    margin: 0rem 5.5rem 6.25rem 5.5rem;
  }
  .tools-img {
    width: 80%;
  }
  ul {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 450px) {
  #nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #left-logo {
    width: 75%;
    font-size: 1.8rem;
    text-align: center;
  }
  #middle a {
    display: none;
  }
  #right-social {
    display: none;
  }

  /* Side Pannel */
  .openbtn {
    display: flex;
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    margin: auto 0;
    cursor: pointer;
  }
  #toggle-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(#0bcaff, #ffffff);
    overflow-x: hidden;
    padding: 1.5rem;
    transition: 0.5s;
  }
  #toggle-bar a {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #090912;
    text-decoration: none;
    margin: 0.5rem;
    transition: 0.3s;
  }
  #toggle-bar a:hover {
    color: rgb(67, 64, 84);
  }
  #toggle-bar .closeBtn {
    background: none;
    border: none;
    position: absolute;
    top: 0.7rem;
    left: 1.3rem;
    font-size: 1.5rem;
  }
  .toggleBar-icon {
    display: flex;
  }
  #toggle-social-icon {
    font-size: 1.3rem;
  }
  #toggle-bar .one {
    margin-top: 2rem;
  }

  /* Main-Hero Section */
  main {
    margin-top: 9rem;
  }
  #hero {
    margin: 0;
  }
  #left-hero {
    position: absolute;
    height: 19rem;
    margin: 0 3rem;
  }
  #left-hero h1 {
    font-size: 2.3rem;
    margin-bottom: 0.625rem;
  }
  #left-hero button {
    width: 6rem;
    height: 2.4rem;
    font-size: 0.65rem;
  }
  #right-hero img {
    width: 24rem;
    padding-left: 8.5rem;
  }

  /* Main-Project Section */
  #projects {
    row-gap: 3rem;
    justify-content: center;
  }
  #project {
    font-size: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  /* Technologies Section */
  #technologies-skills {
    height: 36rem;
    margin: 0rem 3rem;
  }
  #skills {
    max-width: 95%;
  }
  .text {
    font-size: 1rem;
  }
  .level {
    font-size: 0.7rem;
  }

  /* Additional skills and tools */
  h3 {
    font-size: 1.13rem;
  }
  #additional-skills {
    margin: 0rem 3rem 6.25rem 3rem;
  }
  ul {
    font-size: 0.88rem;
    width: 100%;
    margin-bottom: 2rem;
    gap: 2rem;
  }

  /* Footer Section */
  #contact-form {
    margin: 0 2rem 6.25rem 2rem;
  }
  #contact-form label {
    font-size: 1rem;
  }
  #contact-form input {
    width: 17rem;
    height: 1.3rem;
  }
  #contact-form input,
  #contact-form textarea {
    border-radius: 0 0.8rem 0 0.8rem;
  }
  #contact-form textarea {
    width: 94%;
  }
  #contact-form button {
    width: 35%;
    height: 2.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 391px) {
  #left-logo {
    width: 80%;
  }
  /* Side Pannel */
  #toggle-bar {
    right: 2rem;
  }

  /* Technologies Section */
  #technologies-skills {
    height: 34rem;
  }
  .text {
    font-size: 0.9rem;
  }
  .outer {
    height: 1.3rem;
  }
  .inner-advanced {
    height: 1.3rem;
  }

  /* Additional skills and tools */
  .tools-img {
    width: 100%;
  }
}

@media screen and (max-width: 321px) {
  /* Side Pannel */
  #toggle-bar {
    right: 4.5rem;
  }

  /* Main-Hero Section */
  main {
    margin-top: 8rem;
  }
  #left-hero h1 {
    font-size: 2.1rem;
  }
  #right-hero img {
    width: 25rem;
  }

  /* Main-Project Section */
  #project {
    margin-top: 0rem;
  }
  /* Technologies Section */
  #technologies-skills {
    margin: 0rem 2rem;
  }
  #skills {
    max-width: 100%;
  }

  /* Additional skills and tools */
  #additional-skills {
    margin: 0rem 2rem 6.25rem 2rem;
  }
}